# 所有的压缩文件
*.zip

# 数据样例
/BikePerson 数据样例/
# 筛选得到的人骑车的数据集
/BikePersonDatasetProcess/
/BikePersonDatasetNew/
/BikePersonDatasetProcess_backup/
# 数据展示
/img_display/
# 对应的利用预训练好的语义分割网络得到的结果
/path_to_predictions_epoch10/
# 处理的结果
/selectPicture/
/selectPicture_backup/



/BikePersonDatasetNew-700/
/BikePersonDatasetNew-without-seg/
/BikePersonDatasetNew-without-seg-700/
